body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    width: 220px;
}
#result {
    max-width: 400px;
    margin: 15px auto;
    line-height: 1.4;
    word-break: break-word;
}
